.poster .img-placeholder {
    width: 10vw;
    height: 10vw;
    display: inline-block;
}
.poster p {
    text-align: left;
    margin-left: 1rem;
}
.poster {
    padding: 2rem 4rem;
    display: flex;
    justify-content: flex-start;
}
.song-page .lyrics-container {
    line-height: 2rem;
    width: 100%;
}
.back-btn {
    position: absolute;
    left: 0;
}
.main-content {
    display: flex;
    padding: 0 2rem;
}
.video-container {
    width: 100%;
    background-color: rgba(79, 182, 182, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;
}
.lyrics-container {
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
}
.language-label {
    font-size: 2rem;
    font-weight: bold;
    color: #4fb6b6;
}
#language {
    font-size: 1.5rem;
}
.select-container {
    text-align: center;
    padding-top: 1rem;
}
.info-container {
    font-size: 1.2rem;
}
