.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
}

.home-title {
  font-size: 6rem;
  padding: 2rem;
  font-weight: 500;
}
.home-content {
  /* border: solid 1px black; */
  width: 50%;
  height: 50%;
  font-size: 2rem;
  padding: 2rem;
}
.home-title2 {
  color: rgba(79, 182, 182, 0.541);
}
