nav {
  background-color: rgba(79, 182, 182, 0.541);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: black;
  text-decoration: none;
  margin: 0 1rem;
}
nav input {
  /* border-radius: 0.3rem; */
  border: none;
  text-indent: 0.2rem;
  padding: 0.5rem 4rem;
}

.search-btn {
  padding: 0.5rem 3rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(214, 214, 214);
}
.search-btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
